<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="challenge.css" rel="stylesheet" />
    <title>Challenge</title>
  </head>
  <body>
    <div class="container">
      <article>
        <h1>Converse Chuck Taylor All Star Low Top</h1>
        <div class="flex">
          <img src="/img/challenges.jpg" alt="All star photo" class="shoes" />

          <div class="content">
            <div class="values">
              <p class="value"><strong>$65.00</strong></p>
              <p class="ship">free shipping</p>
            </div>
            <p class="text">
              Ready to dress up or down, these classic canvas Chucks are an
              everyday wardrobe staple.
            </p>
            <a href="#" class="information">More information &RightArrow;</a>
            <div class="cores">
              <div class="azul"></div>
              <div class="vermelho"></div>
              <div class="verde"></div>
              <div class="azul"></div>
              <div class="vermelho"></div>
              <div class="verde"></div>
            </div>
          </div>

          <div class="product-details">
            <h3 class="details">Product Detalis:</h3>
            <ul class="detailstext">
              <li>Lightweight, durable canvas sneaker</li>
              <li>Lightly padded footbed for added comfort</li>
              <li>Iconic Chuck Taylor ankle patch.</li>
            </ul>
          </div>
        </div>
        <button class="addcart">Add to cart</button>
      </article>
    </div>
  </body>
</html>
